<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>157659509738-slt61ajghtphkg20g9sfjvtegncgqsk9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.157659509738-slt61ajghtphkg20g9sfjvtegncgqsk9</string>
	<key>API_KEY</key>
	<string>AIzaSyAZgcRYh9hqwQ9peHwTe_4a_-2VBgZsapA</string>
	<key>GCM_SENDER_ID</key>
	<string>157659509738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.zaven.flutter-ci-test.beta</string>
	<key>PROJECT_ID</key>
	<string>flutter-ci-test</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-ci-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:157659509738:ios:5ed38148c94f30e00d7893</string>
</dict>
</plist>